*.py[co~]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
coverage_report
.coverage
.tox

# metrics reports
flake8_report.txt
pylint_global.txt

# RST file generated on the fly
checkreport.rst
geometries.rst

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Eclipse unwanted files
.settings
.project
.pydevproject
.idea

# Locals
epygram/doc_sphinx/html
epygram/doc_sphinx/build
epygram/doc_sphinx/source/tutorial/notebooks/.ipynb_checkpoints
site/arpifs4py/*.so
playground
versioning.txt
epygram/doc_sphinx/source/old_gallery/inputs
epygram/doc_sphinx/source/old_gallery/outputs
epygram/doc_sphinx/source/old_gallery/notebooks/.ipynb_checkpoints
epygram/doc_sphinx/source/gallery/inputs
epygram/doc_sphinx/source/gallery/outputs
epygram/doc_sphinx/source/gallery/*/.ipynb_checkpoints
epygram/doc_sphinx/source/new_gallery/inputs
epygram/doc_sphinx/source/new_gallery/outputs
epygram/doc_sphinx/source/new_gallery/*/.ipynb_checkpoints
epygram/doc_sphinx/source/new_gallery/.ipynb_checkpoints
epygram/doc_sphinx/source/_static/cheatsheet.pdf
epygram/doc_sphinx/source/*cheatsheet.pdf
epygram/doc_sphinx/source/*cheatsheet.aux
epygram/doc_sphinx/source/*cheatsheet.log
tests/*.png
tests/*.log

# compiled inner libraries
*.o
*.x
*.so
