*.py[co~]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
coverage_report
.coverage
.tox

# metrics reports
flake8_report.txt
pylint_global.txt

# RST file generated on the fly
checkreport.rst
geometries.rst

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Eclipse unwanted files
.settings
.project
.pydevproject
.idea

# Locals
docs/html
docs/build
docs/source/tutorial/notebooks/.ipynb_checkpoints
site/arpifs4py/*.so
playground
versioning.txt
docs/source/old_gallery/inputs
docs/source/old_gallery/outputs
docs/source/old_gallery/notebooks/.ipynb_checkpoints
docs/source/gallery/inputs
docs/source/gallery/outputs
docs/source/gallery/*/.ipynb_checkpoints
docs/source/new_gallery/inputs
docs/source/new_gallery/outputs
docs/source/new_gallery/*/.ipynb_checkpoints
docs/source/new_gallery/.ipynb_checkpoints
docs/source/_static/cheatsheet.pdf
docs/source/*cheatsheet.pdf
docs/source/*cheatsheet.aux
docs/source/*cheatsheet.log
tests/*.png
tests/*.log
tests/data

# compiled inner libraries
*.o
*.x
*.so
