$def with ()
$var jsfiles: epyweb.js
$var cssfiles:

<table>
	<tr>
		<td id="cachesize">
			Cache size info : <span>? Gb (click to update)</span>
		</td>
	</tr>
</table>

<table>
<!-- tableau général pour formulaire -->
	<tr>
		<td class="ZeForm">
			<fieldset class="important" id="fieldset">
                <legend>File(s) 'n Field(s)</legend>
				<div id="filenfield_tabs">
                    <ul class="roottabs">
                        <li><a href="#filenfield_tab1" id="fileA" title="File(s) A (not retrieved yet!)">
								<span  class="filenfield_tab_list">___ A ___
							</a>
						</li>
                    </ul>
				<div id="filenfield_tab1" >
				<div id="accordion_vortex" class="accordion vortex A">
					<!-- 1 element accordion-->
					<h3 class="accordion_vortex">File(s)</h3>
					<!-- 1st and last (!) accordion part-->
					<div id="modetabs">
						  <ul class="hardtobecloned2">
						    <li><a href="#accordion_vortex_content">Vortex</a></li>
						    <li><a href="#filesystem">FileSystem</a></li>
						  </ul>	
					<div id="accordion_vortex_content">
						<!-- 1st accordion part-->
							
						<fieldset class="option" id="vortex_resource">
							<legend>Resource</legend>
							<table>
								<tr>
								    <td>
										<label for="model" id="model_label">MODEL : </label>
										<input id="model" style="width:100px" title="MODEL" class="vortex"></input>
									</td>
									<td label="application">
										<label for="vapp" id="vapp_label">VAPP : </label>
										<input id="vapp" style="width:100px" title="VAPP" class="vortex vapp"></input>
									</td>
									
									<td>
										<label for="vconf" id="vconf_label">VCONF : </label>
										<input id="vconf" style="width:100px" title="VCONF" class="vortex"></input>
									</td>
									<td>
										<label for="geometry" id="geometry_label">GEOMETRY : </label>
										<input id="geometry" style="width:100px" title="GEOMETRY" class="vortex"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="kind" id="kind_label">KIND : </label>
										<input id="kind" style="width:100px" title="KIND" class="vortex kind"></input>
									</td>
									<td width="100px">
										<label for="nativefmt" id="nativefmt_label">NATIVEFMT : </label>
										<input id="nativefmt" style="width:100px" title="NATIVEFMT" class="vortex"></input>
									</td>
									<td>
										<label for="cutoff" id="cutoff_label">CUTOFF : </label>
										<input id="cutoff" style="width:100px" title="CUTOFF" class="vortex"></input>
									</td>
								</tr>
							</table>
							<table>
								<tr>
									<td>
										<label for="date" id="date_label">DATE : </label>
										<input id="date" style="width:215px" title="Date format : YYYYMMDDHH ; loop : Date1-Date2-HH" class="vortex"></input>
									</td>
									<td>
										<label for="term" id="term_label">TERM : </label>
										<input id="term" style="width:100px" title="Term format : HH ; loop : term1-term2-HH" class="vortex"></input>
									</td>
								</tr>
								
							</table>
							<label for="vortex_preset_resources">Presets</label>
							<select id="vortex_preset_resources">
								<option value="ClearAll">None</option>
								<optgroup label="Arpege">
									<option value="ArpegeForecastGrib">Forecast (grib)</option>
									<option value="ArpegeForecastFA">Forecast (historic)</option>
								</optgroup>
								<optgroup label="Arome France">
									<option value="AromeFranceForecastGrib">Forecast (grib)</option>
									<option value="AromeFranceForecastFA">Forecast (historic)</option>
									<option value="AromeIfsForecastGrib">IFS Forecast (grib)</option>
								</optgroup>
								<optgroup label="Ensembles">
								    <option value="PearpGrib">Pearp (grib)</option>
								    <option value="PearoGrib">Pearo (grib)</option>
								</optgroup>
								<optgroup label="Arome OM">
									<option value="AromeAntillesForecastGrib">Antilles (grib)</option>
									<option value="AromeCaledonieForecastGrib">Caledonie (grib)</option>
									<option value="AromePolynesieForecastGrib">Polynésie (grib)</option>
									<option value="AromeIndienForecastGrib">Indien (grib)</option>
									<option value="AromeGuyaneForecastGrib">Guyane (grib)</option>
								</optgroup>
							</select>
						</fieldset>


						<fieldset class="option" id="vortex_provider">
							<legend>Provider</legend>
							<table>
								<tr>
									<td width="100px">
										<label for="namespace" id="namspace_label">NAMESPACE : </label>
										<input id="namespace" style="width:100px" title="NAMESPACE" class="vortex"></input>
									</td>
									<td width="100px">
										<label for="experiment" id="experiment_label">EXPERIMENT : </label>
										<input id="experiment" style="width:100px" title="EXPERIMENT" class="vortex"></input>
									</td>
									<td width="100px">
										<label for="block" id="block_label">BLOCK : </label>
										<input id="block" style="width:100px" title="BLOCK" class="vortex"></input>
									</td>
								</tr>
								<tr>
								    <td width="100px">
										<label for="suite" id="suite_label">SUITE : </label>
										<input id="suite" style="width:100px" title="For Vortex xp, can be used as free text for additionnal legend" class="vortex"></input>
									</td>
									<td width="100px">
										<label for="genv" id="genv_label">GENV : </label>
										<input id="genv" style="width:100px" title="GENV" class="vortex"></input>
									</td>
									<td width="100px">
										<label for="member" id="member_label">MEMBER : </label>
										<input id="member" style="width:100px" title="MEMBER" class="vortex"></input>
									</td>


								</tr>
							</table>
							<label for="vortex_preset_providers">Presets</label>
							<select id="vortex_preset_providers">
								<option value="ClearAll">None</option>
								<optgroup label="VORTEX">
									<option value="DsiVortex">DSI Vortex</option>
									<option value="OliveVortex">Olive Vortex</option>
								</optgroup>
								<optgroup label="Antiquites">
									<option value="DsiShell">DSI Shell</option>
									<option value="OlivePerl">Olive Perl</option>
								</optgroup>
							</select>
						</fieldset>


						<div class="ui-widget">
							<table class="table_large">
								<tr>
									<td>
										Description is
									</td>
									<td>
										<div id="vortex_description" class="ui-widget">
											<center><span>False</span></center>
										</div>
									</td>
									<td>
									</td>
									<th rowspan=2>
									   <button id="getfile" title="Retrieve file(s)!" type="button" class="higlight">Retrieve file(s)</button>
									</th>
									<th rowspan=2>
									   <div id="vortex_get" class="ui-widget">
									    <center><span>Current description not fetched</span></center>
									</div>
									</th>
								</tr>
								<tr>
									<td>
										<button id="checkexistence" title="Check existence!" type="button" class="tiny">Existence?</button>
									</td>
									<td>
										<div id="vortex_existence" class="ui-widget">
											<center><span>Unchecked</span></center>
										</div>
									</td>
									<td>
									<button id="file_path" title="More info" type="button" class="boutonlike"></button>
									</td>
								</tr>
								<tr>
								   <td>
									</td>
								   <td>
									</td>
									<td>
									</td>
								   <td>
								    
								   </td>
								</tr>

							</table>
						</div>

					</div>
					<!-- end 1st accordion part-->
					<div id="filesystem" class="filesystem A">
							<table>
								<tr>

									<td>
										<label for="filesystem_path" style="width:500px" id="filesystem_path_label">FILE PATH : </label>
										<textarea id="filesystem_path" style="width:500px;height:100px" title="File path (absolute or relative)" class="resizable"></textarea>
									</td>
								</tr>
								<tr><td><button id="filesystemOK" title="OK" type="button" class="boutonlike">OK</button></td></tr>
								
							</table>
				</div>
				<!-- end of accordion part-->
				
				</div>
			</div>
				<div id="accordion_actions" class="accordion collapse actions A accordion_actions">
					<!-- 1 element accordion-->

					<h3>Field</h3>
					<div>
						<!-- 2nd accordion part-->

						<fieldset class="option" id="field_field">
							<legend>Field</legend>

							<table>
								<!-- tableau pour aligner U et V -->
								<tr>
								<!-- 
								    <td><div id="param_hu2m" title="" type="button" class="shy">Hu2m</div></td>
								    <td><div id="param_tpw850" title="" type="button" class="shy">Tpw850</div></td>
								    <td><div id="param_isp" title="" type="button" class="shy">ISP</div></td>
								    <td><div id="param_ff10m" title="" type="button" class="shy">FF10m</div></td>
								    <td><div id="param_rr" title="" type="button" class="shy">RR</div></td>
								    <td><div id="param_none" title="" type="button" class="shy">Clear</div></td>
								-->   
								    <td><button id="param_hu2m" title="Presets (only for grib)" type="button" class="shy gribonly">Hu2m</button></td>
								    <td><button id="param_tpw850" title="Presets (only for grib)" type="button" class="shy gribonly">Tpw850</button></td>
								    <td><button id="param_isp" title="Presets (only for grib)" type="button" class="shy gribonly">ISP</button></td>
								    <td><button id="param_ff10m" title="Presets (only for grib)" type="button" class="shy gribonly">FF10m</button></td>
								    <td><button id="param_rr" title="Presets (only for grib)" type="button" class="shy gribonly">RR</button></td>
								    <td></td>
								    <td><button id="param_none" title="Presets (only for grib)" type="button" class="shywhite">Clear</button></td>
								    <td><button id="param_A2B" title="Copy values to other file(s)" type="button" class="shywhite">A <-> B</button></td>
								

								</tr>
							</table>
							<table>
								<tr>
									<td>
										<label for="field" title="GRIB1 : indicatorOfParameter/table2Version/level/typeOfLevel GRIB2 : parameterNumber/name/parameterCategory/shortname/discipline" id="field_label">Field (Param/Table2/Name) : </label>
										<input id="field" style="width:160px" title="" class="smart_grib"></input>
									</td>
									<td>
										<label for="TypeOfLevel" title="GRIB1 typeOfLevel/indicatorOfTypeOfLevel  ; GRIB2 : typeOfFirstFixedSurface/typeOfStatisticalProcessing"  id="TypeOfLevel_label">TypeOfLevel/Stats : </label>
										<input id="TypeOfLevel" style="width:160px" title="" class="smart_grib"></input>
									</td>
									<td>
										<label for="Level" title="GRIB1 : level ; GRIB2 : level OR scaledValueOfCentralWaveNumber (ISP)" id="Level_label">Level : </label>
										<input id="Level" style="width:100px" class="smart_grib"></input>
									</td>
								</tr>
								<tr>
								    <td>
										<label for="field_v" id="field_v_label">V : </label>
										<input id="field_v" style="width:160px" class="initcheckfalse smart_grib" title="V componant (when plotting vector field)" ></input>
									</td>
								</tr>
									

								    
							</table>
							<!-- fin tableau pour aligner U et V -->
							
							<table>
							<tr>
							<td>
							<div class="boutonlike">
								<input type="checkbox" id="FF" class="initcheckfalse">
								<label id=FF_label for="FF" class="">FF</label>
								<input type="checkbox" id="vecteurs" class="initcheckfalse">
								<!--<label id=vecteurs_label for="vecteurs" class="">Vecteurs</label>-->
								<!--<input type="checkbox" id="getcode" class="initcheckfalse"><label id=getcode_label for="getcode" class="">GetCode</label> -->
							</div>
							</td>
							<td>
							<label for="operation" id="operation_label">Operation(,operand) : </label>
							<input id="operation" style="width:160px" title="Numpy operation (+, -, exp, ln), and optionnaly a value (ej. : 273.15)" class="operator"></input>
							</td>
							<td>
							
							<div class="boutonlike">
 							    <input type="checkbox" id="decumul" class="initcheckfalse">
								<label id=decumul_label for="decumul" class="boutonlabel">Decumul is off</label>
							</div>
							</td>
							</tr>
							</table>
						</fieldset>
					</div>
				</div>
				
				
				<div id="accordion_render" class="accordion collapse accordion_render">
				
				<h3>Render options</h3>
					<div>
					<div id="tabs_plot">

						<table>
							<!-- Pour min max et autoupdate en ligne -->
							<tr>
								<td title="Min and max values used for the plot ; use slider or enter range : X.X to Y.Y">
									Min - Max :
									<input type="text" id="range1" style="border:0; color:#f6931f; font-weight:bold;" >
									<div id="slider-range" style="height:10px;width:200px" ></div>
								</td>
								<td>
									<div class="boutonlike" title="Adjust range to actual min/max : on/off">
										<input type="checkbox" id="autoupdate" class="initchecktrue" >
										<label id=update_label for="autoupdate" class="boutonlabel">AutoUpdate is on</label>
									</div>
									<!-- close boutonlike -->
								</td>
							</tr>
						</table>


						<label for="tabs_plot">Plot type:</label>
						<ul class="hardtobecloned">
							<li><a href="#colorshades">Colorshade</a></li>
							<li><a href="#contourlines">Contour</a></li>
							<li><a href="#points">Points</a></li>
							<!--<li><a href="#vectors">Vectors</a></li>-->
						</ul>

						<div id="colorshades">
							<!-- Colorshade tab-->
							<div id="moving_color_content_1">
								<!-- Upper container div for colorshade options (where inner content is copied from another tab by js)-->
								<div id="move_col" class="ui-widget">
									<!-- Inner container div for colorshade options (actual content that goes through different tabs by js)-->
									<select name="ColorMapList" id="ColorMapList" style="width: 320px;">
										<option value="" selected="selected">--Which ColorMap?--</option>
										<optgroup label="Diverging">
											<option value="BrBG" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.BrBG.png);">BrBG</option>
											<option value="bwr" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.bwr.png);">bwr</option>
											<option value="coolwarm" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.coolwarm.png);">coolwarm</option>
											<option value="PiYG" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.PiYG.png);">PiYG</option>
											<option value="PRGn" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.PRGn.png);">PRGn</option>
											<option value="PuOr" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.PuOr.png);">PuOr</option>
											<option value="RdBu" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.RdBu.png);">RdBu</option>
											<option value="RdGy" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.RdGy.png);">RdGy</option>
											<option value="RdYlBu" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.RdYlBu.png);">RdYlBu</option>
											<option value="RdYlGn" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.RdYlGn.png);">RdYlGn</option>
											<option value="seismic" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.seismic.png);">seismic</option>
											<option value="Spectral" data-class="avatar" data-style="background-image: url(static/cmaps/Diverging.Spectral.png);">Spectral</option>
										</optgroup>
										<optgroup label="EPyGrAM">
											<option value="aspect" data-class="avatar" data-style="background-image: url(static/cmaps/EPyGrAM.aspect.png);">aspect</option>
											<option value="gaspect" data-class="avatar" data-style="background-image: url(static/cmaps/EPyGrAM.gaspect.png);">gaspect</option>
											<option value="radar" data-class="avatar" data-style="background-image: url(static/cmaps/EPyGrAM.radar.png);">radar</option>
											<option value="rr1h" data-class="avatar" data-style="background-image: url(static/cmaps/EPyGrAM.rr1h.png);">rr1h</option>
											<option value="rr6h" data-class="avatar" data-style="background-image: url(static/cmaps/EPyGrAM.rr6h.png);">rr6h</option>
											<option value="rr24h" data-class="avatar" data-style="background-image: url(static/cmaps/EPyGrAM.rr24h.png);">rr24h</option>
										</optgroup>
										<optgroup label="Miscellaneous">
											<option value="brg" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.brg.png);">brg</option>
											<option value="CMRmap" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.CMRmap.png);">CMRmap</option>
											<option value="cubehelix" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.cubehelix.png);">cubehelix</option>
											<option value="flag" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.flag.png);">flag</option>
											<option value="gist_earth" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.gist_earth.png);">gist_earth</option>
											<option value="gist_ncar" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.gist_ncar.png);">gist_ncar</option>
											<option value="gist_rainbow" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.gist_rainbow.png);">gist_rainbow</option>
											<option value="gist_stern" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.gist_stern.png);">gist_stern</option>
											<option value="gnuplot2" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.gnuplot2.png);">gnuplot2</option>
											<option value="gnuplot" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.gnuplot.png);">gnuplot</option>
											<option value="hsv" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.hsv.png);">hsv</option>
											<option value="jet" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.jet.png);">jet</option>
											<option value="nipy_spectral" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.nipy_spectral.png);">nipy_spectral</option>
											<option value="ocean" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.ocean.png);">ocean</option>
											<option value="prism" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.prism.png);">prism</option>
											<option value="rainbow" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.rainbow.png);">rainbow</option>
											<option value="terrain" data-class="avatar" data-style="background-image: url(static/cmaps/Miscellaneous.terrain.png);">terrain</option>
										</optgroup>
										<optgroup label="Perceptually Uniform Sequential">
											<option value="viridis" data-class="avatar" data-style="background-image: url(static/cmaps/Perceptually_Uniform_Sequential.viridis.png);">viridis</option>
											<option value="plasma" data-class="avatar" data-style="background-image: url(static/cmaps/Perceptually_Uniform_Sequential.plasma.png);">plasma</option>
											<option value="inferno" data-class="avatar" data-style="background-image: url(static/cmaps/Perceptually_Uniform_Sequential.inferno.png);">inferno</option>
											<option value="magma" data-class="avatar" data-style="background-image: url(static/cmaps/Perceptually_Uniform_Sequential.magma.png);">magma</option>
										</optgroup>
										<optgroup label="Qualitative">
											<option value="Accent" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Accent.png);">Accent</option>
											<option value="Dark2" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Dark2.png);">Dark2</option>
											<option value="Paired" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Paired.png);">Paired</option>
											<option value="Pastel1" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Pastel1.png);">Pastel1</option>
											<option value="Pastel2" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Pastel2.png);">Pastel2</option>
											<option value="Set1" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Set1.png);">Set1</option>
											<option value="Set2" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Set2.png);">Set2</option>
											<option value="Set3" data-class="avatar" data-style="background-image: url(static/cmaps/Qualitative.Set3.png);">Set3</option>
										</optgroup>
										<optgroup label="Sequential2">
											<option value="afmhot" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.afmhot.png);">afmhot</option>
											<option value="autumn" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.autumn.png);">autumn</option>
											<option value="bone" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.bone.png);">bone</option>
											<option value="cool" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.cool.png);">cool</option>
											<option value="copper" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.copper.png);">copper</option>
											<option value="gist_heat" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.gist_heat.png);">gist_heat</option>
											<option value="gray" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.gray.png);">gray</option>
											<option value="hot" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.hot.png);">hot</option>
											<option value="pink" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.pink.png);">pink</option>
											<option value="spring" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.spring.png);">spring</option>
											<option value="summer" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.summer.png);">summer</option>
											<option value="winter" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential2.winter.png);">winter</option>
										</optgroup>
										<optgroup label="Sequential">
											<option value="Blues" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.Blues.png);">Blues</option>
											<option value="BuGn" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.BuGn.png);">BuGn</option>
											<option value="BuPu" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.BuPu.png);">BuPu</option>
											<option value="GnBu" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.GnBu.png);">GnBu</option>
											<option value="Greens" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.Greens.png);">Greens</option>
											<option value="Greys" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.Greys.png);">Greys</option>
											<option value="Oranges" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.Oranges.png);">Oranges</option>
											<option value="OrRd" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.OrRd.png);">OrRd</option>
											<option value="PuBuGn" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.PuBuGn.png);">PuBuGn</option>
											<option value="PuBu" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.PuBu.png);">PuBu</option>
											<option value="PuRd" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.PuRd.png);">PuRd</option>
											<option value="Purples" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.Purples.png);">Purples</option>
											<option value="RdPu" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.RdPu.png);">RdPu</option>
											<option value="Reds" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.Reds.png);">Reds</option>
											<option value="YlGnBu" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.YlGnBu.png);">YlGnBu</option>
											<option value="YlGn" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.YlGn.png);">YlGn</option>
											<option value="YlOrBr" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.YlOrBr.png);">YlOrBr</option>
											<option value="YlOrRd" data-class="avatar" data-style="background-image: url(static/cmaps/Sequential.YlOrRd.png);">YlOrRd</option>
										</optgroup>
									</select>

									<div class="boutonlike">
										<input type="checkbox" id="reverse_colormap" class="initcheckfalse">
										<label id=reverse_colormap_label for="reverse_colormap" class="boutonlabel">Reverse colormap is off</label>
									</div>
									<!-- close boutonlike -->

								</div>
								<!-- close move_col -->
							</div>
							<!-- close moving_color_content_1 -->

							<div id="moving_nb_content_1">
								<!-- Upper container div-->
								<div id="move_nb" class="ui-widget">
									<label for="levelsnumber1">Number of levels:</label>
									<input id="levelsnumber1" name="value">
								</div>
								<!-- close move_nb -->
							</div>
							<!-- close moving_nb_content_1 -->
						</div>
						<!-- close colorshades tab-->

						<div id="contourlines">
							<!-- contourlines tab-->
							Contour color : <input id=contourcolor type="color">
							<div id="moving_nb_content_2">
								<!-- Upper container div-->
							</div>
						</div>
						<!-- close contourlines tab, content managed by js-->

						<div id="points">
							<!-- Points tab-->
							<div id="moving_color_content_2">
								<!-- Upper container div-->
							</div>
							<label for="pointsize">"Size" of points:</label>
							<input id="pointsize" name="value">
						</div>
						<!-- Close points tab-->
						<div id="vectors">
							<!-- Vector tab-->
							<!--<label for="vectors_subsampling">Subsampling:</label>-->
							<!--<input id="vectors_subsampling" name="value">-->
							<!--Vector color : <input id=vectorcolor type="color">-->
						</div>
						<!-- Close Vector tab-->
					</div>
						
						</div>
				
				
				
				
				
				
				
				</div>
	
	</div>
<!-- end of tab for filenfield-->
			
		</td>	
		<td>
			<div id="graphicplot0" style="width:600px"></div>
		</td>

    </tr>
    <tr>
      <td class="ZeForm">
      <div class="ui-widget">
		<table>
		 <tr>
		  <td>  
		    <button id="getplot" title="Render the plot, A or B according to active tab" type="button" class="higlight">Plot</button>
  		  </td>
 		  <td>  
		    <button id="getplotboth" title="Render A and B at the same time" type="button" class="higlight">Plot A and B</button>
  		  </td>

		<td>
			<!--	<button id="overlay" title="Overlay B on top of A" type="button" class="higlight">Overlay B over A</button>-->
		</td>
		<td>
				<button id="difference" title="Difference B-A, contour A will be used" type="button" class="higlight">Difference B-A</button>
		</td>
		<td>
		  <button id="cloneFileField" type="button" title="Add another file(s) ; by default, A will be cloned (and in memory)">add B</button>
		</td>
		</tr>
		</table>
	  </div>		
	  </td>
	</tr>

	<tr>
		<td class="ZePlot">
			<fieldset class="option" id="howtoplot">
				<legend>Plot options</legend>

				<div id="accordion_plot" class="accordion collapse">

					<h3>Zoom it!</h3>
					<!-- 2nd accordion part-->
					<div class="ui-widget">
						<div class="boutonlike" align="center">
							<input type="checkbox" id="active_zoom" class="initcheckfalse">
							<label id=active_zoom_label for="active_zoom" class="boutonlabel"></label>
						</div>
						<!-- close boutonlike -->
						<table align="center">
							<!-- Pour présentation intuitive des coordonnées du domaine-->
							<tr>
								<th colspan="2">
									<label for="zoom_north">North:</label>
									<input id="zoom_north" class="zoom" name="value">
								</th>
							</tr>
							<tr>
								<th>
									<label for="zoom_west">West:</label>
									<input id="zoom_west" class="zoom" name="value">
								</th>
								<th>
									<label for="zoom_east">East:</label>
									<input id="zoom_east" class="zoom" name="value">
								</th>
							</tr>
							<tr>
								<th colspan="2">
									<label for="zoom_south">South:</label>
									<input id="zoom_south" class="zoom" name="value">
								</th>
							</tr>
						</table>
						<label for="zoom_preset_zones">Presets</label>
							<select id="zoom_preset_zones">
								<option value="ClearAll">None</option>
								<option value="Antilles">Antilles</option>
								<option value="Reunion">La Reunion</option>
								<option value="Tahiti">Tahiti</option>
								<option value="NlleCaledonie">Nlle Calédonie</option>
								<option value="Guyane">Guyane</option>
							</select>
					</div>
					<!-- Close widget-->

					<h3>Misc options</h3>
					<!-- 3rd accordion part-->
					<div class="ui-widget">
						<select id='subzone' class='selectmenu'>
							<option value="" selected="selected">--Subzone--</option>
							<option value="C">C</option>
							<option value="CI">C+I (d)</option>
							<option value="CIE">C+I+E</option>
						</select>

						<select id='gisquality' class='selectmenu'>
							<option value="" selected="selected">--Quality of coastlines--</option>
							<option value="c">crude</option>
							<option value="l">low</option>
							<option value="i">intermediate (d)</option>
							<option value="h">high</option>
							<option value="f">full</option>
						</select>

						<select id='specificproj' class='selectmenu'>
							<option value="" selected="selected">--Specific Projection--</option>
							<option value="">None (d)</option>
							<option value="kav7">kav7</option>
							<option value="cyl">cyl</option>
							<option value="ortho">ortho</option>
							<option value="nsper3000">nsper3000</option>
						</select>

						<div class="boutonlike">

							<input type="checkbox" id="drawrivers" class="initcheckfalse">
							<label id=drawrivers_label for="drawrivers" class="boutonlabel"></label>

							<input type="checkbox" id="drawdepartments" class="initcheckfalse">
							<label id=drawdepartments_label for="drawdepartments" class="boutonlabel"></label>


							<label id=bluemarble_label for="bluemarble" >BlueMarble transparency</label>
							<input type="text" id="bluemarble_value" style="border:0; color:#f6931f; font-weight:bold;">
							<div id="bluemarble" style="height:10px;width:200px" title="Transparency of BlueMarble layer (0:not shown)"></div>

						

							<label for="meridians">Meridians:</label>
							<input id="meridians" name="value">
							<label for="parallels">Parallels:</label>
							<input id="parallels" name="value">
							<label for="dpi">DPI:</label>
							<input id="dpi" name="value">
						</div>
						<!-- close boutonlike -->
					</div>
					<!-- close widget -->
				</div>
				<!-- close accordion -->
			</fieldset>
		</td>
		
	</tr>
	
</table>
</table>
    <tr>
	    <td>
            <button id="resetall" title="Reset all buttons" type="button" class="higlight">!</button>
        </td>
        <td>
            <button id="closeall" title="Close all plots" type="button" class="higlight">X</button>
        </td>
	</tr>
	</tr>
		<td>
			<div id="vortex2" style="width:40px"></div>
		</td>
		<td>
			<div id="graphicplot" style="width:80px"></div>
		</td>
  </tr>
</table>

		<!-- aera for dialog boxes with plot -->
<div id="fortooltip"></div>
